@charset "UTF-8";

/* introduction */
.main-section {
	border-bottom: 1px #000000 solid;
}

#introduction-text {
	text-align: center;
}

#main-image {
	display: block;
	margin: 0 auto;
	border: 4px #86A57B solid;
	border-radius: 10px;
	width: 90%;
	height: 300px;
}

/* notable species */
h3, .species-latin {
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	font-style: italic;
}

.species {
	margin: 2vh 0;
	border: 2px #4682B4 solid;
	border-radius: 10px;
	background-color: #F0FFFE;
	padding: 2vh 2vw;
}

.species-latin {
	opacity: 0.5;
}

/* pop culture */
audio {
	display: block;
	margin: 2vh auto;
	border: 4px purple solid;
	border-radius: 40%;
}

video {
	margin: 2vh 0;
	border: 4px indianred solid;
	border-radius: 5px;
	width: 100%;
}

#media {
	border: none;
}